<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ReserveMe</a>
        <button title="Navigation menu" class="navbar-toggler">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="nav-scrollable">
    <nav class="flex-column">
        <AuthorizeView Roles="SuperAdmin">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/admin/venues">
                    <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Venues
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/admin/users">
                    <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Users - TODO
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/admin/logs">
                    <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Logs - TODO
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/admin/maintenance">
                    <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Maintenance - TODO
                </NavLink>
            </div>
        </AuthorizeView>

        <AuthorizeView Roles="Owner">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="weather">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Venue Details - TODO
                </NavLink>
            </div>
        </AuthorizeView>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/live">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Live Venue - TODO
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/reservations">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Reservations
            </NavLink>
        </div>

    </nav>
</div>
